---
layout: default
title: Publications
navbar_title: Publications
permalink: /publications/
redirect_from:
  - /publications.html
description: >-
  Peer-reviewed publications by Long V. Nguyen on semantic communications,
  neural image compression, diffusion models and deep reinforcement learning
  for wireless networks, published at IEEE INFOCOM, MASS and related venues.
schema_publications: true
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<header class="page-header">
    <h1>Publications</h1>
    <p class="page-header-sub">
        A selected collection of my publications. For the complete list, see my
        <a href="https://scholar.google.com/citations?user={{ site.data.profile.gscholar }}" target="_blank" rel="noopener noreferrer">Google Scholar</a> profile.
    </p>
</header>

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>

</div>

<!-- Academic publications page that showcases research papers from the _publications collection, 
with covers, abstracts, and links to papers/code. -->