{%- assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<section class="panel" aria-labelledby="panel-news">
    <h2 id="panel-news" class="panel-heading">
        <span><i class="fas fa-rss" aria-hidden="true"></i>&nbsp; News</span>
    </h2>
    <div class="news-body">
        {%- for year in news_by_year %}
        <div class="news-year">
            <div class="news-year-label">{{ year.name }}</div>
            <ul class="news-items">
                {%- for item in year.items %}
                <li class="news-item">
                    <span class="news-item-text">{{ item.title }}</span>
                    <time class="news-item-date" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%b %-d" }}</time>
                </li>
                {%- endfor %}
            </ul>
        </div>
        {%- endfor %}
    </div>
</section>
