<section class="panel" aria-labelledby="panel-activities">
    <h2 id="panel-activities" class="panel-heading">
        <span><i class="fas fa-briefcase" aria-hidden="true"></i>&nbsp; Professional Activities</span>
    </h2>
    <div class="panel-body">
        <ul class="activity-list">
            <li>
                Reviewer for
                <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=5962382" target="_blank" rel="noopener noreferrer">IEEE Wireless Communications Letters</a>
            </li>
            <li>
                Reviewer for
                <a href="https://icc2025.ieee-icc.org/" target="_blank" rel="noopener noreferrer">IEEE International Conference on Communications (ICC)</a>
            </li>
            <li>
                Reviewer for
                <a href="https://publications.eai.eu/index.php/inis" target="_blank" rel="noopener noreferrer">EAI Endorsed Transactions on Industrial Networks and Intelligent Systems</a>
            </li>
        </ul>
    </div>
</section>
