{%- assign publications = include.publications -%}
<section class="panel" aria-labelledby="panel-publications">
    <h2 id="panel-publications" class="panel-heading">
        <span>{% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star" aria-hidden="true"></i>&nbsp; Selected Recent Publications{% endif %}</span>
        <a class="panel-heading-link" href="{{ '/publications/' | relative_url }}">View all <i class="fas fa-angle-double-right" aria-hidden="true"></i></a>
    </h2>

    {%- for item in publications limit:include.limit %}
        {% include widgets/publication_item.html item=item first=forloop.first last=forloop.last hide_bottom_border=forloop.last %}
    {%- endfor %}

    <p class="panel-footer-link">
        <a href="{{ '/publications/' | relative_url }}">All publications <i class="fas fa-angle-double-right" aria-hidden="true"></i></a>
    </p>
</section>
