{%- assign publications = include.publications -%}
<section class="panel" aria-labelledby="panel-publications">
    <h2 id="panel-publications" class="panel-heading">
        <span>{% include icon.html name="star" %} {{ include.title | default: "Selected Recent Publications" }}</span>
        <a class="panel-heading-link" href="{{ '/publications/' | relative_url }}">View all {% include icon.html name="arrow-right" px="15" %}</a>
    </h2>

    {%- for item in publications limit:include.limit %}
        {% include widgets/publication_item.html item=item first=forloop.first last=forloop.last hide_bottom_border=forloop.last %}
    {%- endfor %}

    <p class="panel-footer-link">
        <a href="{{ '/publications/' | relative_url }}">All publications {% include icon.html name="arrow-right" px="15" %}</a>
    </p>
</section>
